body {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    max-width: 1000px;
    font-weight: 300;
}

h2 {
    padding-top: 64px;
    font-weight: normal;
}

h3 {
    font-weight: normal;
}